table {
	border-collapse:collapse;
}

thead th:hover {

}

table th, table td{
	border: 1px solid gray;
}

thead {
	background-color: #120562;
	color: white;
}

/*tbody > tr:nth-child(even) {
  background-color: #BDBDBD;
}*/
tr:nth-of-type(even) {
    background-color: #BDBDBD;
}

tr:nth-of-type(odd) {
    background-color: white;
}

.ascend-icon {
  background-image: url('../img/ascend.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  float: right;
}

.descend-icon {
  background-image: url('../img/descend.png');
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  display: inline-block;
  float: right;
}

.th_style:hover {
  background-color: #CBEAEC;
  cursor:pointer;
}

.th_style {
  background-color: #120562;
}

/*.even_row {
  background-color: #BDBDBD;
}*/