/*设置边界*/
table, th, td {
	border-style: solid;
	border-width: 0.1em;
	border-color: #BCBEBD;
	border-collapse: collapse;
}

/*设置todo表格的宽度*/
#todo {
	width: 50em;
}

/*设置staff表格的宽度*/
#staff {
	width: 40em;
}

/*设置th和td内文字的左对齐*/
th, td {
	text-align: left;
	padding: 0.3em;
	font-family: Arial, Verdana, Sans-serif;
}

/*设置th默认的状态*/
.thDefault {
	background-color: #021B7D;
	color: #F7FEFF;
}

/*设置th升序的状态*/
.ascending {
	background-color: #A5ADF8;
	background-image: url('ascend.png');
	background-repeat: no-repeat;
	background-position: right;
}

/*设置th降序的状态*/
.descending {
	background-color: #A5ADF8;
	background-image: url('descend.png');
	background-repeat:no-repeat;
	background-position: right;
}

.alternate {
	background-color: #DDDDDD;
}
